import { createBrowserRouter } from "react-router-dom";
import { ProtectedRoute, LoginPage, RegisterPage } from "@/features/auth";
import { DashboardLayout } from "@/components/layout/DashboardLayout";
import { DashboardPage } from "@/features/dashboard";
import { UsersPage } from "@/features/users";
// brrr:imports-fe

export const router = createBrowserRouter([
  { path: "/login", element: <LoginPage /> },
  { path: "/register", element: <RegisterPage /> },
  {
    element: <ProtectedRoute />,
    children: [
      {
        element: <DashboardLayout />,
        children: [
          { index: true, element: <DashboardPage /> },
          {
            element: <ProtectedRoute requireAdmin />,
            children: [{ path: "users", element: <UsersPage /> }],
          },
          // brrr:routes-fe
        ],
      },
    ],
  },
]);
